<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- 参数定义（可外部传入） -->
    <arg name="hand_type" default="right"/>
    <arg name="hand_joint" default="L7"/>
    <arg name="touch" default="true"/>
    <arg name="modbus" default="None"/> <!-- None or RML  only L10 -->

    <!-- linker_hand 节点 -->
    <node pkg="linker_hand_sdk_ros" type="linker_hand.py" name="linker_hand_sdk" output="screen">
        <param name="hand_type" type="string" value="$(arg hand_type)"/>
        <param name="hand_joint" type="string" value="$(arg hand_joint)"/>
        <param name="touch" type="bool" value="$(arg touch)"/>
        <param name="modbus" type="string" value="$(arg modbus)"/>
    </node>

</launch>
