<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- 左手节点 -->
    <node pkg="linker_hand_sdk_ros" type="linker_hand.py" name="linker_hand_sdk_$(anon left)" output="screen">
        <param name="hand_type" type="string" value="left"/> <!-- 不用修改 -->
        <param name="hand_joint" type="string" value="L10"/> <!-- L7|L10|L20|L21|L25 灵巧手型号  -->
        <param name="touch" type="bool" value="false"/> <!-- 是否有压力传感器 -->
    </node>
    
    <!-- 右手节点 -->
    <node pkg="linker_hand_sdk_ros" type="linker_hand.py" name="linker_hand_sdk_$(anon right)" output="screen">
        <param name="hand_type" type="string" value="right"/> <!-- 不用修改 -->
        <param name="hand_joint" type="string" value="L10"/> <!-- L7|L10|L20|L21|L25 灵巧手型号  -->
        <param name="touch" type="bool" value="true"/> <!-- 是否有压力传感器 -->
    </node>
</launch>
